// Your variable overrides
$body-bg: transparent;
$musta: #000;
$valkoinen: #fff;
$vaalea_musta: #343a40;
$harmaa: #f8f9fa;
$vaalea_harmaa: #f1f1f1;
$tumma_harmaa: #ccc;
$vali: 10px;
$footerin: rgb(17,17,17);
$otsikko_fontti: 'PT Sans', sans-serif;
$body_fontti: 'Fira Sans', sans-serif;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";


// Extend

%taustakuvat {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%bg_container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  border: 2px solid $vaalea_harmaa;
}

%valkoinen_tausta {
  background-color: $valkoinen !important;
}

%musta_teksti {
  color: $musta !important;
}

%otsikko_tausta {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
  padding: 5px;
}

// Muut

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $body_fontti;
}

#aloitus {
  @extend %taustakuvat;
  background-image: url("../img/haastattelu2.jpg");
}

#webosio {
  @extend %taustakuvat;
  background-image: url("../img/koodipieni.jpg");
}

#mediaosio {
  @extend %taustakuvat;
  background-image: url("../img/media1.jpg");
}

.aloitus_bg_container {
  @extend %bg_container;
  background-color: rgba(0, 0, 0, 0.3); /* Black w/opacity/see-through */
}

.web_bg_container {
  @extend %bg_container;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
}

.media_bg_container {
  @extend %bg_container;
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
}

.sivu_teksti {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
  border: 5px solid $vaalea_harmaa;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.7rem;
}

.sivu_tekstipieni {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.7rem;
  font-family: 'PT Sans', sans-serif;
}

// Button, joka näyttää tehtävät
.btn {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  cursor: pointer;
  position: relative;
  border: 2px solid $valkoinen;
  outline: none;
  color: $valkoinen;
  background-color: transparent;
  margin-top: 30px;
  white-space: nowrap;

  &:hover {
    color: $valkoinen;
  }

  &--border {
    &::after,
    &::before,
    span::after,
    span::before {
      content: "";
      position: absolute;
      background-color: $valkoinen;
      transition: 0.5s ease;
    }
    &::after,
    &::before {
      height: 100%;
      width: 2px;
      top: -2px;
    }
    &::after {
      left: -2px;
    }
    &::before {
      right: -2px;
    }
    span::after,
    span::before {
      height: 2px;
      width: 100%;
      left: -2px;
    }
    span::after {
      top: -2px;
    }
    span::before {
      bottom: -2px;
    }
    &:hover:after {
      transform: translatex(-12px);
    }
    &:hover:before {
      transform: translatex(12px);
    }
    &:hover span::after {
      transform: translatey(-12px);
    }
    &:hover span::before {
      transform: translatey(12px);
    }
  }
}

.bg-light {
  background-color: transparent !important;

  &:hover {
    @extend %valkoinen_tausta;
  }
}

.bg-light.scrolled {
  @extend %valkoinen_tausta;
}

.nav_vari {
  color: $valkoinen !important;
}

.nav_items_varinvaihto.ncol {
  @extend %musta_teksti;
}

.navbar .nav-link {
  font-weight: bold;
  letter-spacing: 0.3rem;
  font-size: 1rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  margin-left: $vali;
}

.navbar-nav a{
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: $valkoinen;

  &:hover {
    text-decoration: none;
    color: $valkoinen;
  }
}

h2 {
  font-family: $otsikko_fontti;
  font-size: 3rem !important;
  letter-spacing: 0.2rem !important;
}

.pienirivi {
  font-family: $otsikko_fontti;
  font-size: 2rem !important;
  letter-spacing: 0.2rem !important;
}

.px-5px {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.mb-10px {
  margin-bottom: 30px !important;
}

.ekarivi {
  margin-top: 20px !important;
}

// Hovereffect sivun kuvissa

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  &:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }

  a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid $valkoinen;
    margin: 50px 0 0 0;
    background-color: transparent;

    &:hover {
      box-shadow: 0 0 5px $valkoinen;
    }
  }

  a.info {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: $valkoinen;
    text-transform: uppercase;
  }

  &:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: $valkoinen;
    text-transform: uppercase;
  }

  &:hover h2{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

}

// Footer

.main-footer {
  background-color: $footerin;
  color: $valkoinen;
}

.footeri {
  padding: 15px;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.ikoni {
  margin-left: 15px;
}

// Modalin tausta
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

// Modalin video/kuva
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

// Kuvateksti modalin alla
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $tumma_harmaa;
  padding: 10px 0;
  height: 150px;
}

// Animointi modaleihin
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

// Sulje-nappi modalissa
.close {
  position: absolute;
  top: 50px;
  right: 50px;
  color: $vaalea_harmaa;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $tumma_harmaa;
    text-decoration: none;
    cursor: pointer;
  }

}

// Pienemmille näytöille nostetaan modalin leveyttä
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

// Estetään bodyn scrollaus, kun modal näytetään
.no-scroll {
  overflow: hidden;
}
